.SpawnNode {
	position: relative;
  display: flex;
	width: 100%;
	height: 100%;
	background: #005eff;
	min-width: 32px;
	min-height: 32px;
	z-index: 0;
}

.react-flow__node-spawnNode {
	opacity: 0.05;
}