.StandNode {
	position: relative;
    display: flex;
	width: 100%;
	height: 100%;
	background: #1282a2;
	min-width: 100px;
	min-height: 30px;
}

.StandNode > label {
	flex: 1;
    align-self: center;
    justify-content: center;
}
